.invalid-feedback{
    color:red;
    animation-name:"invalid";
    transition-duration: 5s;
}
@keyframes invalid{
    from {opacity: 0;}
    to {opacity: 100;}
}
.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }