.img-container{
  width: 210px;
  height: 210px;
  color: aqua;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border : 5px solid  rgb(204, 204, 204);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);  
  
}

.profile{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  /*border : 3px solid #ddd;*/
  opacity:1;
  transition: .5s ease;
  border-radius: 50%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);  */
  
}


.img-container:hover .profile{
  -webkit-filter: blur(2.5px);
  opacity:0.25;
      
} 

.img-container:hover  #upload-btn {
  opacity: 1;
  padding-top: 3rem;
  z-index: 1;
}
.img-container:hover .upload-text{
  opacity: 1;
  z-index: 1;
}

#upload-btn{
  position: absolute;
  opacity: 0;
  margin-right: 5rem;
  margin-left: -6rem;
  /*padding-top: 3rem;*/
  padding-top: 9rem;
  padding-left: 4rem;
  padding-bottom: 4rem;
  padding-right: 4rem;
  color: black;
  
  transition: .5s ease;
}
.upload-text{
  position: absolute;
  opacity: 0;
  padding-top: 50%;
  padding-left: 15%;
  padding-right: 15%;
  color : #0066ff;
  font-size: 120%;
  font-family: monospace;
  font-weight: bold;
  font-stretch: semi-expanded;
  
  transition: 1s ease-in .5s ease-out; 
}

.hide-me{
  position: absolute;
  opacity: 1;
  width: 200px;
  height: 200px;
}


.toasts-rounded{
  position: relative;
  font-size: 120%;
  font-weight: 400;
  width: auto;
  background-color: #2979ff ;
  float: right;
  font-variant-caps: all-petite-caps;
  letter-spacing: 110%;
}